section.not_found_container{
  padding: 2rem;
  border-top: 1px solid silver;
  border-radius: 8px;
  background-image: url("../../../assets/not_found.png");
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
  min-height: calc(100vh - var(--navbar-height));
  width: 100vw;
}
