ul {
  font-size: var(--text-paragraph);
}
.hero-section {
  height: 100vh;
  background-color: slateblue;
  background-image: url("/src/assets/home_img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - var(--navbar-height));
  /* padding-top: var(--navbar-height); */
  padding-left: 2rem;
  color: var(--white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.hero-title {
  max-width: 70rem;
}
.highlight-text {
  padding: 1.5rem;
  border-radius: 8px;
}
.highlight-text-primary {
  background-color: var(--primary-shade);
}
.highlight-text-secondary {
  background-color: var(--tertiary-base);
}
.hero-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
.hero-text {
  font-weight: var(--font-weight-bold);
}
.hero-text span {
  padding: 0.5rem;
}
.hero-navigation {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.hero-navigation-link:first-child span{
  padding: 1rem;
  background-color: var(--primary-shade);
  border: none;
  border-radius: 8px;
  transition: 0.3s ease-in-out;
}
.hero-navigation-link:last-child span{
  font-weight: var(--font-weight-bold);
  border-bottom: 2px solid var(--tertiary-tint);
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
}

.hero-navigation-link:first-child span:hover,
.hero-navigation-link:first-child span:focus{
  color: var(--primary-shade);
  background-color: var(--white-color);
  transform: scale(1.2);
}
.hero-navigation-link:last-child span:hover,
.hero-navigation-link:last-child span:focus{
  transform: scale(1.2);
  border-bottom: 2px solid var(--tertiary-shade);
}