/* small to large Laptops - 1000 to 1248 px */

/* tablets to small Laptops - 780 to 1000 px */
@media (max-width: 62.5rem) {
  .about-section-intro {
    flex-direction: column;
    align-items: center;
  }
  .about-section-intro .about-section-card {
    width: 80%;
  }
  .about-section-image-container {
    width: 90%;
  }
  .about-section-main {
    flex-direction: column;
  }
  .about-section-main .about-section-card {
    width: 80%;
  }
  .github-space {
    width: 80%;
  }
}
/* phone landscape to tablets - 690 to 780 px */
/* @media (max-width: 48.75rem) {
  /* 690 / 16 = 43.125 */
/* html { */
/* 7 / 16 = 37.5% */
/* font-size: 43.75%; */
/* } */
/* } */
/*phone potrait to phone landscape - <620 px */
/* @media (max-width: 32rem) */
/* 512 / 16 = 32 */
