section.about-section-page {
  display: flex;
  flex-direction: column;
  background-color: var(--accent-shade);
  /* width: 85%; */
  /* height: calc(100vh - var(--navbar-height)); */
  /* margin: 0.3rem auto; */
  /* border: 1px solid var(--primary-shade); */
  /* border-radius: 1rem; */
  padding: 0.5rem 0.8rem;
  gap: 1rem;
}
.about-section-page p {
  color: #333;
  font-size: var(--text-h5);
  /* font-weight: var(--font-weight-bold); */
}
.intro-paragraph {
  max-width: 70%;
}
.about-section-card:first-child {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  padding: 1rem;
}
.about-section-card:first-child h5 {
  align-self: center;
  color: var(--primary-shade);
}
.about-section-card:first-child p {
  line-height: var(--line-height-normal);
}
.about-section-card:nth-child(2) p {
  max-width: 70%;
}
.about-section-card {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 3rem;
  /* align-self: center; */
  background-color: var(--tertiary-tint);
  padding: 0.5rem;
  border: 1px solid var(--primary-shade);
  border-radius: 1rem;
  /* width: 70%; */
}
.card-image-container {
  height: 50rem;
  border: 1px solid var(--primary-shade);
  /* padding: 0.5rem; */
  /* border-radius: 8px; */
}
