nav,
.main-nav-section {
  display: flex;
  align-items: center;
}
nav {
  justify-content: flex-start;
  padding: 1rem;
  min-height: var(--navbar-height);
  background-color: var(--secondary-base);
  background-image: linear-gradient(
    to right,
    var(--secondary-tint),
    var(--secondary-shade)
  );
  /* position: relative; */
  color: var(--white-color);
}
.main-nav-section {
  justify-content: space-evenly;
  gap: 3rem;
  margin-inline: auto;
}
nav a {
  padding: 0.5rem;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}
.image-container img {
  height: 5rem;
  width: 5rem;
}
.main-nav-section a.active {
  color: var(--accent-base);
  border-bottom: 2px solid var(--tertiary-shade);
  transition: 0.3s ease-in-out;
}
.main-nav-section a:hover,
.main-nav-section a:focus,
.main-nav-section a.active {
  transform: scale(1.2, 1.2);
}
