nav,
.main-nav-section {
  display: flex;
  align-items: center;
}
nav {
  justify-content: flex-start;
  gap: 5rem;
  padding: 1rem;
  min-height: var(--navbar-height);
  background-color: gainsboro;
  /* background-image: linear-gradient(
    to right,
    var(--secondary-tint),
    var(--secondary-shade)
  ); */
  /* position: relative; */
  color: var(--primary-shade);
}
.left-nav-section {
  display: flex;
  align-items: center;
  gap: 1rem;
  flex-grow: 1;
}
.app-title {
  font-size: var(--text-h5);
  text-transform: uppercase;
  color: var(--primary-tint);
}
.main-nav-section {
  flex-grow: 2;
  gap: 3rem;
  justify-content: center;
  /* margin-inline: auto; */
}
nav a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-weight: var(--font-weight-bold);
}
.image-container {
  height: 5rem;
  width: 5rem;
  border: none;
  border-radius: 50%;
  overflow: hidden;
}
.image-container img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.main-nav-section a.active {
  transition: 0.3s ease-in-out;
  position: relative;
}
.main-nav-section li a {
  color: var(--primary-shade);
}
a.active::after {
  content: " ";
  width: 0%;
  height: 2px;
  background-color: var(--tertiary-base);
  position: absolute;
  bottom: 0;
  left: 0;
  animation: slideLeft 0.5s ease-in-out forwards;
}
.main-nav-section a:hover,
.main-nav-section a:focus,
.main-nav-section a.active {
  transform: scale(1.2, 1.2);
}

@keyframes slideLeft {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* phone landscape to tablets - 690 to 780 px */
@media (max-width: 48.75rem) {
  .app-title {
    display: none;
  }
  .image-container {
    margin-left: 6rem;
  }
  .main-nav-section {
    justify-content: flex-start;
    flex-grow: unset;
  }
  .left-nav-section {
    flex-grow: unset;
  }
}
