button {
  font-size: var(--text-base);
  padding: 0.3rem;
  font-family: inherit;
}
table {
  background-color: var(--secondary-tint);
  border-collapse: collapse;
  width: 100%;
}
th,
td,
caption {
  padding: 1rem;
}
caption,
th {
  text-align: left;
}
tbody tr,
tfoot tr {
  color: var(--white-color);
}
caption {
  color: var(--primary-base);
  font-size: var(--text-h5);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}
th {
  background-color: rgba(245, 209, 142, 0.897);
}
tr:nth-of-type(odd) {
  background-color: hsla(245, 63%, 47%, 0.3);
}
.map-section-container {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  height: 100vh;
  margin-top: calc(-1 * var(--navbar-height));
  padding-top: var(--navbar-height);
  padding-right: 5px;
  padding-bottom: 5px;
}
.sidebar {
  grid-column: 1 / span 3;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: var(--tertiary-tint);
  overflow-y: auto;
}
.sidebar-wrapper {
  margin-top: 1rem;
  width: 95%;
}
.map-container {
  grid-column: 4 / span 8;
  height: 100%;
}
.leaflet-container {
  height: 100%;
  width: 100%;
}
input[type="file"] {
  display: none;
}
.sidebar-list {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.sidebar-heading,
.sidebar-item {
  border: 1px solid var(--secondary-shade);
  padding: 1rem 0.5rem;
  height: auto;
}
.sidebar-heading {
  display: flex;
  justify-content: space-between;
}
.list-heading {
  text-decoration: underline var(--secondary-shade);
}
.list-heading-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
.small-list-images {
  height: 30px;
  width: 30px;
}
.drop-area-container {
  min-height: 15rem;
  padding: 0.5rem;
  border: 1px dashed var(--secondary-shade);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.report-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.submit-button {
  align-self: center;
}
.image-preview-container {
  margin-top: 2rem;
  border: 1px solid var(--secondary-shade);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-image {
  width: 100%;
  height: auto;
}
