.leaflet-container {
  height: 100%;
  width: 100%;
  font-family: inherit;
}
.leaflet-control-layers label span {
  font-size: var(--text-base);
}
.report-details-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.report-info-container {
  padding: 1rem;
}
.report-info-container ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.report-details {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.report-details:nth-child(4) {
  border-bottom: 1px solid var(--primary-shade);
}
.report-details:last-child {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
}
.report-details-icon-container {
  height: 40px;
  width: 40px;
  padding: 5px;
}
.report-details-icon {
  object-fit: cover;
}
.tag-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.tag-value-indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
}
.tag-value-indicator.low {
  background-color: salmon;
}
.tag-value-indicator.medium {
  background-color: rgb(232, 81, 81);
}
.tag-value-indicator.high {
  background-color: red;
}
.tag-values {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: flex-start;
}
.tag-values small {
  font-size: var(--text-base);
}
.image-report-preview-container {
  position: relative;
}
.preview-image {
  object-fit: cover;
}
.change-report-container-single {
  display: none;
}
.change-report-btn {
  height: 5rem;
  width: 5rem;
  padding: 1rem;
  border: 1px solid var(--primary-shade);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  background-color: unset;
}
.change-report-btn:hover {
  background-color: unset;
}
.change-report-btn:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}
.change-report-btn.next-report {
  right: 0;
  transform: translateY(-50%) rotate(90deg);
}
.change-report-btn.previous-report {
  left: 0;
  transform: translateY(-50%) rotate(-90deg);
}
.change-report-btn img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
span.issue-id {
  font-size: var(--text-base);
}
.report-status {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  margin-right: 1rem;
}
.report-status-value {
  letter-spacing: 1px;
}
.report-status-value.open {
  color: red;
  font-weight: normal;
}
.report-status-value.resolved {
  color: limegreen;
  font-weight: normal;
}
.report-status.open {
  background-color: red;
}
.report-status.resolved {
  background-color: green;
}
.pulse-animation {
  animation: pulse 2s ease-in-out infinite alternate;
}
@keyframes pulse {
  from {
    opacity: 1;
  }

  50% {
    opacity: 0.8;
  }

  to {
    opacity: 1;
  }
}
