.search-results {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: var(--accent-shade);
  padding: 0.5rem;
}
.search-result-card {
  display: flex;
  gap: 1rem;
  padding: 0.5rem;
  border: 1px solid var(--secondary-shade);
  border-radius: 5px;
  cursor: pointer;
}
.search-result-card:hover {
  transform: scale(1.04);
  transition: transform 0.2s ease-in-out;
}
.search-result-image-container {
  width: 13rem;
  border-radius: 5px;
  overflow: hidden;
}
.search-result-card .search-result-image {
  width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: cover;
}
.result-detail-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.result-detail-item {
  display: flex;
  align-items: center;
  gap: 1.1rem;
  font-size: var(--text-base);
}
.result-detail-img-container {
  width: 3rem;
  border-radius: 50%;
  overflow: hidden;
}
.result-detail-item .result-detail-img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
.result-detail-category {
  text-transform: capitalize;
}
.result-detail-link {
  color: var(--primary-base);
  text-emphasis: open;
}
.result-detail-link:hover {
  text-decoration: underline;
}
