/* form element styles */
button {
  font-size: var(--text-base);
  padding: 1rem;
  font-family: inherit;
  border: none;
  border-radius: 8px;
  color: var(--white-color);
  background-color: var(--accent-tint);
  cursor: pointer;
}
form.report-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input[type="file"] {
  display: none;
}

/* component styles */
div.form-container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.drop-area-container {
  min-height: 15rem;
  padding: 0.5rem;
  border: 1px dashed var(--secondary-shade);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.notifications {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  border: 1px solid red;
  border-radius: 8px;
}
.notification-type {
  text-decoration: 1px underline crimson;
}
.notification-message {
  font-size: var(--text-base);
}
/* form element sub-styles */
.submit-button {
  align-self: center;
}
/* state */
button:hover {
  color: var(--accent-tint);
  background-color: var(--white-color);
}
.browse-btn:hover,
.submit-button:hover {
  box-shadow: 0px 1px 2px 2px var(--accent-tint);
}
/* Handle Loading state */
form.report-form .loading-screen {
  position: relative;
  margin: auto;
}
