/* report preview styles */
table {
  background-color: var(--secondary-tint);
  border-collapse: collapse;
  width: 100%;
}
th,
td,
caption {
  padding: 1rem;
}
caption,
th {
  text-align: left;
}
tbody tr,
tfoot tr {
  color: var(--white-color);
}
caption {
  color: var(--primary-base);
  font-size: var(--text-h5);
  font-weight: var(--font-weight-bold);
  text-transform: uppercase;
}
th {
  background-color: rgba(245, 209, 142, 0.897);
}
tr:nth-of-type(odd) {
  background-color: hsla(245, 63%, 47%, 0.3);
}
fieldset {
  border: 1px solid var(--secondary-shade);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
legend {
  padding: 0 0.5rem;
  font-weight: var(--font-weight-bold);
}
label {
  font-weight: var(--font-weight-normal);
}
div.image-preview-container {
  margin-top: 2rem;
  border: 1px solid var(--secondary-shade);
  display: flex;
  align-items: center;
  justify-content: center;
}
.preview-image {
  width: 100%;
  height: auto;
}
