.search-input-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.search-input-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  position: relative;
  background-color: white;
  border: 1px solid var(--secondary-tint);
  border-radius: 8px;
  z-index: 2;
}
.search-input {
  align-self: stretch;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  font-size: var(--text-base);
  flex-grow: 1;
  outline: none;
}
.search-input::placeholder {
  font-style: italic;
}
.clear-btn {
  border-radius: 50%;
  background-color: transparent;
  width: 3rem;
  height: 3rem;
  padding: unset;
  color: crimson;
  cursor: pointer;
}
.clear-btn:hover {
  color: crimson;
  background-color: unset;
}
.search-input-container button.search-button {
  background-color: rgba(128, 128, 128, 0.2);
  border-radius: unset;
  color: var(--white-color);
  border: none;
}
.search-options {
  display: none;
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  background-color: var(--white-color);
  border-radius: 5px;
}
.search-input-container .search-options.active {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
}
.suggestion-list {
  padding: 0.5rem;
  border: 1px solid var(--secondary-shade);
  border-radius: 5px;
  cursor: pointer;
}
.suggestion-list.no-results {
  cursor: default;
  color: var(--secondary-shade);
  border: none;
}
.no-results-found {
  color: var(--secondary-shade);
  text-align: center;
}
