/* Element styles */
aside.sidebar {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: hsla(28, 78%, 68%, 0.6);
  overflow-y: auto;
}

/* component styles */

/* html element sub-styles */
/* sidebar */
.sidebar-wrapper {
  margin-top: 1rem;
  width: 95%;
}