/* Element styles */
aside.sidebar {
  max-width: 400px;
  width: 32%;
  display: flex;
  justify-content: center;
  height: 100%;
  background-color: hsla(28, 78%, 68%, 0.6);
  position: relative;
  transition: 0.5s ease-in-out;
}

/* component styles */

/* html element sub-styles */
/* sidebar */
.sidebar-wrapper {
  overflow-y: auto;
  margin-top: 1rem;
  width: 95%;
}
.sidebar-toggle-image-container {
  height: 4rem;
  width: 4rem;
  position: absolute;
  left: 100%;
  top: 1%;
  transform: translate(10%, 0);
  background-color: var(--accent-base);
  cursor: pointer;
  z-index: 777;
  transition: transform 0.2s ease-in-out;
}
.sidebar-toggle-image-container:hover {
  transform: scale(1.05, 1);
}
.sidebar-toggle-image-container.closed .sidebar-toggle-image-container img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
/* Toogle sidebar */
aside.sidebar.closed {
  width: 15rem;
  gap: 1rem;
}
