:root {
  /* font size */
  --text-sm: 1.2rem;
  --text-base: 1.6rem;
  --text-paragraph: 2rem;
  --text-h5: 2.4rem;
  --text-h4: 3.2rem;
  --text-h3: 4rem;
  --text-h2: 4.8rem;
  --text-h1: 6.2rem;

  /* font weight */
  --font-weight--normal: 400;
  --font-weight-bold: 700;

  /* line height */
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;

  /* letter spacing */
  --letter-spacing-tight: -2px;

  /* font-family */
  --font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;

  /* colors */
  /* primary */
  --primary-tint: #697193;
  --primary-base: #434e78;
  --primary-shade: #282f48;

  /* secondary */
  --secondary-tint: #8095a5;
  --secondary-base: #607b8f;
  --secondary-shade: #3a4a56;

  /* tertiary */
  --tertiary-tint: #edaa6e;
  --tertiary-base: #e97f4a;
  --tertiary-shade: #8c4c2c;

  /* accent */
  --accent-tint: #94885a;
  --accent-base: #f7e396;
  --accent-shade: #f9e9ab;

  /* white */
  --white-color: #f0f8ff;

  /* note */
  --navbar-height: 10rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  font-family: var(--font-family);
}
h1,
h2,
h3,
h4,
h5 {
  font-weight: var(--font-weight-bold);
  line-height: 1.2;
  letter-spacing: -2px;
}
h1 {
  font-size: var(--text-h1);
}
h2 {
  font-size: var(--text-h2);
}
h3 {
  font-size: var(--text-h3);
}
h4 {
  font-size: var(--text-h4);
}
h5 {
  font-size: var(--text-h5);
}
p {
  font-size: var(--text-paragraph);
}
a {
  display: inline-block;
  font-size: var(--text-base);
}
a:visited,
a:hover,
a:active,
a:focus {
  color: inherit; /* Inherit color from the parent element */
  text-decoration: none; /* Remove any underlines or other decorations */
  /* Add other properties you want to reset here */
}

ul {
  list-style: none;
}
span {
  display: inline-block;
}
small {
  font-size: var(--text-sm);
}
img {
  display: inline-block;
}
